@import "tailwindcss";

@theme {
  --color-severiche-black: #0a0a0a;
  --color-severiche-gold: #FBBF24;
  --color-severiche-dark: #161616;

  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    margin: 0;
    background-color: var(--color-severiche-black);
    color: white;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}
